.chat {
	width: 100%;
	max-width: 800px;
	margin: 2rem auto;
	display: flex;
	background: #18222d;
	border: 1px solid #213040;
	border-radius: 8px;
	box-shadow: 0 0 32px -16px #00ffff38, 0 32px 128px -16px #00d7ff17;
}

.left-panel {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-right: 1px solid #213040;
}

.left-top-panel {
	flex: 1;
	border-bottom: 1px solid #213040;
}

.left-bottom-panel {
	flex: 1;
}

.right-panel {
	flex: 6;
	display: flex;
	flex-direction: column;
}

.right-top-panel {
	flex: 1;
	border-bottom: 1px solid #213040;
}

.right-bottom-panel {
	flex: 6;
}

.users {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 1rem;
	color: white;
}

.user {
	position: relative;
	border-radius: 4px;
	background-color: #213040;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	color: #677583;
	cursor: pointer;
}

.user:hover {
	color: white;
}

.rooms {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 1rem;
	color: white;
}

.room {
	position: relative;
	background-color: #213040;
	margin-bottom: 1rem;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	color: #677583;
	cursor: pointer;
}

.room:hover {
	color: white;
}

.messages {
	width: 100%;
	height: 100%;
	max-height: 75vh;
	overflow: auto;
	padding: 2rem;
}

.message-row {
	position: relative;
	text-align: left;
	margin-bottom: 1rem;
}

.message {
	width: 50%;
	border-radius: 8px;
	/* border: 1px solid #555; */
	padding: 1rem;
	display: inline-block;
	background-color: #213040;
	color: white;
}

.message-header {
	margin-bottom: 0.5rem;
	color: #677583;
}

.input {
	width: 100%;
	height: 100%;
	position: relative;
	border: none;
	background: none;
	padding: 1rem;
	color: white;
	font-family: sans-serif;
	resize: vertical;
}

.input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
